/**
 * CSS for the backend.
 */
.eventkrake {
  /** categories */
  /**
   * Event
   */
  /**
   * Location
   */
}
.eventkrake-flexcol {
  display: flex;
  flex-direction: column;
}
.eventkrake-flexcol div {
  margin-bottom: 10px;
}
.eventkrake-right {
  position: relative;
  text-align: right;
}
.eventkrake-bold {
  font-weight: bold;
}
.eventkrake-hide, .eventkrake-template {
  display: none !important;
}
.eventkrake-textarea {
  width: 100%;
}
.eventkrake-label {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
}
.eventkrake-artist-select-search {
  width: 100%;
  max-width: 50em;
  border: solid 1px #ccc;
  padding: 5px;
  margin: 5px;
}
.eventkrake-artist-select {
  height: 100px;
}
.eventkrake-artist-order {
  height: 400px;
}
.eventkrake-artist-select, .eventkrake-artist-order {
  display: flex;
  flex-direction: column;
  max-width: 50em;
  padding: 5px;
  margin: 5px;
  overflow: auto;
  border: solid 1px #ccc;
}
.eventkrake-artist-select div, .eventkrake-artist-order div {
  display: block;
  white-space: nowrap;
  margin-right: 10px;
  vertical-align: middle;
}
.eventkrake-artist-select div.eventkrake-list-artist, .eventkrake-artist-order div.eventkrake-list-artist {
  cursor: pointer;
  padding: 5px;
}
.eventkrake-artist-select div.eventkrake-list-artist:hover, .eventkrake-artist-order div.eventkrake-list-artist:hover {
  color: #0073aa;
}
.eventkrake-artist-select div.eventkrake-order-artist, .eventkrake-artist-order div.eventkrake-order-artist {
  cursor: grab;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #eee;
  border: solid 1px #555;
  border-radius: 15px;
  font-weight: bold;
}
.eventkrake-artist-select div.eventkrake-order-artist:hover, .eventkrake-artist-order div.eventkrake-order-artist:hover {
  background-color: #ddd;
}
.eventkrake-artist-select div.eventkrake-order-artist.ui-sortable-helper, .eventkrake-artist-order div.eventkrake-order-artist.ui-sortable-helper {
  opacity: 0.5;
}
.eventkrake-artist-select div.eventkrake-order-artist .eventkrake-order-artist-delete, .eventkrake-artist-order div.eventkrake-order-artist .eventkrake-order-artist-delete {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}
.eventkrake-artist-select div.eventkrake-order-artist .eventkrake-order-artist-delete:hover, .eventkrake-artist-order div.eventkrake-order-artist .eventkrake-order-artist-delete:hover {
  background-color: #000;
}
.eventkrake-cat-suggestion {
  color: #0073aa;
  cursor: pointer;
  margin-right: 10px;
}
.eventkrake-cat-suggestion:hover {
  text-decoration: underline;
}
.eventkrake-dates {
  margin: 10px 0;
}
.eventkrake-date-start, 
.eventkrake-date-end, 
.eventkrake-remove-date,
.eventkrake-date-doors {
  display: inline-block;
}
.eventkrake-remove-date {
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}
.eventkrake-date-warning {
  display: none;
  color: darkred;
  padding: 3px 30px;
}
.eventkrake-map {
  width: 100%;
  height: 50vh;
  cursor: pointer;
}
.eventkrake-map noscript {
  background-color: #eee;
  font-style: italic;
  cursor: auto;
  text-align: center;
  line-height: 300%;
}
.eventkrake-reload-map {
  position: absolute;
  left: 0;
}
.eventkrake-latlng {
  background: none;
  border: none;
}
.eventkrake-address-recommendation {
  cursor: pointer;
}
.eventkrake-address-recommendation:hover {
  text-decoration: underline;
}
.eventkrake-accessibility-x, .eventkrake-accessibility-0, .eventkrake-accessibility-1, .eventkrake-accessibility-2 {
  font-weight: bold;
}
.eventkrake-accessibility-0 {
  background-color: #ef9a9a;
}
.eventkrake-accessibility-1 {
  background-color: #fff59d;
}
.eventkrake-accessibility-2 {
  background-color: #aed581;
}

/*# sourceMappingURL=admin.css.map */
