.eventkrake-accessibility-x,
.eventkrake-accessibility-0,
.eventkrake-accessibility-1,
.eventkrake-accessibility-2 {
  font-weight: bold;
}
.eventkrake-accessibility-0 {
  background-color: #ef9a9a;
}
.eventkrake-accessibility-1 {
  background-color: #fff59d;
}
.eventkrake-accessibility-2 {
  background-color: #aed581;
}
.eventkrake-textarea {
  width: 25em;
  max-width: 100%;
}
.eventkrake_latlng {
  background: none;
  border: none;
}
#eventkrake_rec {
  cursor: pointer;
}
#eventkrake_rec:hover {
  text-decoration: underline;
}
.eventkrake-cat-suggestion {
  color: #0073aa;
  cursor: pointer;
  margin-right: 10px;
}
.eventkrake-cat-suggestion:hover {
  text-decoration: underline;
}
#eventkrake_artist label,
.eventkrake-label {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
}
.eventkrake-dates {
  margin: 10px 0;
}
.eventkrake-dates .eventkrake-date-start,
.eventkrake-dates .eventkrake-date-end,
.eventkrake-dates .eventkrake-remove-date {
  display: inline-block;
}
.eventkrake-dates .eventkrake-remove-date {
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}
.eventkrake-dates .eventkrake-date-warning {
  display: none;
  color: darkred;
  padding: 3px 30px;
}
.eventkrake-select-search {
  width: 100%;
  max-width: 50em;
  border: solid 1px #ccc;
  padding: 5px;
  margin: 5px;
}
.eventkrake-select-multiple {
  display: flex;
  flex-direction: column;
  height: 200px;
  max-width: 50em;
  padding: 5px;
  margin: 5px;
  overflow: auto;
  border: solid 1px #ccc;
}
.eventkrake-select-multiple label {
  display: block;
  white-space: nowrap;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}
.eventkrake-select-multiple label:hover {
  color: #0073aa;
}
