.datepicker {
    cursor: pointer;
}

.eventkrake_map {
    width: 100%;
    background-color: #eee;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    line-height: 300%;
}

.eventkrake_h250 {
    height: 250px;
}

.eventkrake_hide {
    display: none;
}

.eventkrake_center {
    text-align: center;
}

.eventkrake_right {
    text-align: right;
}

.eventkrake-bold {
    font-weight: bold;
}

.eventkrake-nowrap {
    white-space: nowrap;
}

.eventkrake_formselect {
    width: 25em;
}
