#eventkrake-input label {
    cursor: pointer;
    margin: 5px 10px 5px 2px;
    border: solid 1px #ccc;
    display: inline-block;
    padding: 2px;   
}

#eventkrake-input th,
#eventkrake-input td {
    vertical-align: top;
}

#eventkrake-input .notice {
    font-weight: bold;
    color: #060;
}

#eventkrake-input .notice-error {
    color: #c00;
}

#eventkrake-input .description {
    font-style: italic;
}

#eventkrake-input .highlight {
    border: solid 3px #c00;
}

#eventkrake-input fieldset {
    max-width: 960px;
}

#eventkrake-input input[type='text'],
#eventkrake-input input.submit,
#eventkrake-input select,
#eventkrake-input textarea {
    min-width: 350px;
}

#eventkrake-input .eventkrake-tabs {
    margin-left: 20px;
}

#eventkrake-input input[type='button'] {
    cursor: pointer;
    border: outset 1px #333;
    background-color: #ccc;    
}

#eventkrake-input input.submit {
    cursor: pointer;
    border: outset 1px #333;
    background-color: #f88;
    line-height: 200%;
}

#eventkrake-input input.eventkrake-selected {
    border: inset 1px #333;
    background-color: #eee;
}

#eventkrake-input .eventkrake-input-data {
    display: none;
}

#eventkrake-input .invisible {
    display: none;
}

#eventkrake-input select[name='eventkrake-input-locationlist'] {
    width: 50%;
    display: block;
    float: left;
    margin-right: 5px;
}

#eventkrake-rec {
    cursor: pointer;
}
#eventkrake-rec:hover {
    text-decoration: underline;
}

#eventkrake-input .datepicker {
    background-color: #aaa;
    border: solid 1px #333;
}