/**
 * CSS for the frontend.
 */

.eventkrake {
    
    &-icon-before::before {
        content: ""; /* important to show the element */
        display: inline-block;    
        vertical-align: middle;
        background-attachment: scroll;
        background-repeat: no-repeat;   
        background-size: 1em 1em;
        background-position: left bottom;
        width: 1.4em;
        height: 1em;
    }
    
    &-icon-before.eventkrake-icon-time::before {
        background-image: url(../img/clock.png);
    }
    
    /**
     * accessibility
     */
    
    &-accessibility- &-icon-before.eventkrake-wheelchair::before { // no info
        display: none;
    }
    
    &-accessibility-0 &-icon-before.eventkrake-wheelchair::before {
        background-image: url(../img/wheelchair-0.png);
    }

    &-accessibility-1 &-icon-before.eventkrake-wheelchair::before {
        background-image: url(../img/wheelchair-1.png);
    }

    &-accessibility-2 &-icon-before.eventkrake-wheelchair::before {
        background-image: url(../img/wheelchair-2.png);
    }
    
    &-accessibility-info {
        font-style: italic;
        font-size: 0.9em;
    }
    
    /**
     * tags, categories
     */
    
    &-tags {
        font-size: 0.8em;
        font-style: italic;
    }
    
    /**
     * ics
     */
    &-ics {
        font-style: italic;
        font-size: 0.8em;
    }
    
    /**
     * door
     */
    &-door::before {
        content: "(";
    }
    &-door::after {
        content: ")";
    }

    /**
     * Event
     */
    
    &-event {
        display: grid;
        gap: 0;
        grid-template: 
            "location"
            "times"
            "image"
            "content"
            "links"
            "artists"
            "wp-categories"
            "categories"
            "wp-tags"
            / minmax(0, 1fr);
        
        &-content {
            grid-area: content;
        }
        
        &-image {
            grid-area: image;
            
            margin: var(--wp--style--block-gap) auto;
            
            img {
                max-width: 100%;
                height: auto;
            }
        }
        
        &-location {
            grid-area: location;
            
            &-title, &-title-link {
                font-weight: bold;
            }
            &-title {
                display: none;
            }
            
            &-address {
                display: none;
            }
        }
        
        &-wp-tags {
            grid-area: wp-tags;
        }
        
        &-categories {
            grid-area: categories;
        }
        
        &-wp-categories {
            grid-area: wp-categories;
        }
        
        &-links {
            grid-area: links;
            margin-bottom: 1em;
        }
        
        &-artists {
            grid-area: artists;
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            margin-top: var(--wp--style--block-gap);
            margin-bottom: var(--wp--style--block-gap);
        }
        
        &-artist {
            display: grid;
            gap: 0 15px;
            grid-template:
                "image title" min-content
                "image excerpt" min-content
                / min-content minmax(0, 1fr);
            
            &-title, &-title-link {
                grid-area: title;
            }
            &-title {
                display: none;
            }
            
            &-excerpt {
                grid-area: excerpt;
            }
            
            &-image {
                grid-area: image;
                height: 5em;
                width: 5em;
                
                img {
                    width: 5em;
                    height: 5em;
                    object-fit: cover;
                    
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 50%;
                }
            }
        }
        
        &-times {
            grid-area: times;
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            margin-top: 1em;
            margin-bottom: 1em;
        }
        
        &-time {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
        
        &-end::before {
            content: " – ";
        }
    }

    /**
     * Location
     */
    
    &-location {
        display: grid;
        gap: 0;
        grid-template: 
            "wp-categories"
            "categories"
            "wp-tags"
            "address"
            "accessibility"
            "image"
            "content"
            "links"
            "events"            
            / minmax(0, 1fr);
        
        &-content {
            grid-area: content;
        }
        
        &-image {
            grid-area: image;
            
            margin: var(--wp--style--block-gap) auto;
            
            img {
                max-width: 100%;
                height: auto;
            }
        }
        
        &-address, &-address-link {
            grid-area: address;
        }            
        &-address {
            display: none;
        }
        
        &-accessibility-info {
            grid-area: accessibility;
        }
        
        &-wp-tags {
            grid-area: wp-tags;
        }
        
        &-categories {
            grid-area: categories;
        }
        
        &-wp-categories {
            grid-area: wp-categories;
        }
        
        &-links {
            grid-area: links;
            margin-bottom: 1em;
        }
        
        &-events {
            grid-area: events;
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            margin-top: var(--wp--style--block-gap);
            margin-bottom: var(--wp--style--block-gap);
        }
        
        &-event {
            display: grid;
            gap: 0 15px;
            grid-template:
                "image title" min-content
                "image time" min-content
                "image excerpt" min-content
                / min-content minmax(0, 1fr);
            
            &-title, &-title-link {
                grid-area: title;
            }
            &-title {
                display: none;
            }
            
            &-time {
                grid-area: time;
                font-size: 0.9em;
            }
            &-end, &-ics {
                display: none;
            }
            &-end::before {
                content: " – ";
            }
            
            &-excerpt {
                grid-area: excerpt;
            }
            
            &-image {
                grid-area: image;
                height: 5em;
                width: 5em;
                
                img {
                    width: 5em;
                    height: 5em;
                    object-fit: cover;
                    
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 50%;
                }
            }
        }
    }
    
    /**
     * Artist
     */
    
    &-artist {
        display: grid;
        gap: 0;
        grid-template: 
            "image"
            "wp-categories"
            "categories"
            "wp-tags"
            "content"
            "links"
            "events"            
            / minmax(0, 1fr);
        
        &-content {
            grid-area: content;
        }
        
        &-image {
            grid-area: image;
            
            margin: var(--wp--style--block-gap) auto;
            
            img {
                max-width: 100%;
                height: auto;
            }
        }
                
        &-wp-tags {
            grid-area: wp-tags;
        }
        
        &-categories {
            grid-area: categories;
        }
        
        &-wp-categories {
            grid-area: wp-categories;
        }
        
        &-links {
            grid-area: links;
            margin-bottom: 1em;
        }
        
        &-events {
            grid-area: events;
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            margin-top: var(--wp--style--block-gap);
            margin-bottom: var(--wp--style--block-gap);
        }
        
        &-event {
            display: grid;
            gap: 0 15px;
            grid-template:
                "image title" min-content
                "image time" min-content
                "image excerpt" min-content
                / min-content minmax(0, 1fr);
            
            &-title, &-title-link {
                grid-area: title;
            }
            &-title {
                display: none;
            }
            
            &-time {
                grid-area: time;
                font-size: 0.9em;
            }
            &-end, &-ics {
                display: none;
            }
            &-end::before {
                content: " – ";
            }
            
            &-excerpt {
                grid-area: excerpt;
            }
            
            &-image {
                grid-area: image;
                height: 5em;
                width: 5em;
                
                img {
                    width: 5em;
                    height: 5em;
                    object-fit: cover;
                    
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 50%;
                }
            }
        }
    }
}