.eventkrake-textarea {
    width: 25em;
    max-width: 100%;
}

.eventkrake_latlng {
    background: none;
    border: none;
}

#eventkrake_rec {
    cursor: pointer;
}
#eventkrake_rec:hover {
    text-decoration: underline;
}

.eventkrake-cat-suggestion {
    color: #0073aa;
    cursor: pointer;
    margin-right: 10px;
}
.eventkrake-cat-suggestion:hover {
    text-decoration: underline;
}

#eventkrake_artist label {
    margin: 10px;
}

.eventkrake-dates {
    margin: 10px 0;
    
    .eventkrake-date-start, .eventkrake-date-end,
    .eventkrake-remove-date {
        display: inline-block;
    }
    
    .eventkrake-remove-date {
        cursor: pointer;
        margin-right: 10px;
        text-decoration: none;
    }
}